<div class="row">
    <div class="col-md-12 form-group {{(err)? 'has-error':''}}">
        <label class="control-label">{{field.field_title}}</label>
        <div class="input-group">
            <select
                    class="form-control"
                    tooltip-html-unsafe="{{err.rendered}}"
                    ng-model="model[field.field_key]"
                    ng-options="option.option_id as option.option_title for option in field.field_options"
                    sng-required="field.field_required"></select>
            <span class="required-error" ng-show="field.field_required && !model[field.field_key]">* required</span>
        </div>
    </div>
</div>