<div class="row">
    <div class="col-md-12 form-group {{(err)? 'has-error':''}}">
        <!--<span class="input-group-addon">$</span>-->
        <label class="control-label">{{field.field_title}}</label>
        <input tooltip-html-unsafe="{{err.rendered}}" type="password" ng-model="model[field.field_key]" ng-required="field.field_required" class="form-control" placeholder="{{field.field_title}}">
        <!--<span class="input-group-addon">.00</span>-->
    </div>
</div>
<!--<span class="required-error" ng-show="field.field_required && !model[field.field_key]">* required</span>-->