<div class="row">
    <div class="col-md-12 form-group {{(err)? 'has-error':''}}">
        <!--<span class="input-group-addon">$</span>-->
            <label class="control-label">{{title}}: {{selectedItemDisplayStr}}</label>
        <div class="input-group">
            <!--TODO-->
            <input
                    type="text" class="form-control" placeholder="{{title}}" tooltip-html-unsafe="{{err.rendered}}"
                    ng-model="model[fieldName]"
                    ng-focus=""
                    typeahead="item[field.field_referencesKey] as api[field.field_references].getLookupValue(item) for item in api[field.field_references].lookup($viewValue) | filter:$viewValue | limitTo:8"
                    typeahead-input-formatter="null"
                    typeahead-on-select="typeaheadSelect($item)"
                    typeahead-editable="false"
                    ng-required="field.field_required"/>
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        </div>
    </div>
</div>
<!--<span class="required-error" ng-show="field.field_required && !model[fieldName]">* required</span>-->