<h2>{{ form.form_name }} List <button class="btn btn-primary pull-right" ng-click="newAction()" ng-hide="disableCreate"><i class="glyphicon glyphicon-plus-sign"></i> Create {{ form.form_name }}</button></h2>
<div class="gridStyle" ng-grid="gridOptions"></div>
<!--<pre>-->
<!--sortInfo: {{gridOptions.sortInfo | json}}-->
<!--page options: {{pagingOptions | json}}-->
<!--grid model: {{model | json}}-->
<!--grid selection: {{gridSelections | json}}-->
<!--grid data: {{gridData | json}}-->
<!--</pre>-->