<legend>
    <h2>{{ form.form_name }} <small>{{model[viewModel.meta.display_field] || "new"}}</small></h2>
</legend>

<form name="{{form_id}}" id="{{form_id}}" class="well clearfix">
    <!--<div ng-repeat="field in form.form_fields">-->
    <div class="col-md-{{colspan}}" ng-repeat="form_fields in form_field_pages">
        <div ng-repeat="field in form_fields">
            <field field="field" model="model" view-model="viewModel">

            </field>
        </div>
    </div>

    <small class="col-md-3 pull-right text-right">{{ form.form_name }} [{{model.id || "new"}}]</small>
</form>

<div class="form-actions clearfix">
    <div class="btn-group pull-left" ng-show="model.id && canDelete">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
            Delete <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li class="btn btn-danger"><a ng-click="delete()">Confirm and Delete Record!</a></li>
        </ul>
    </div>

    <button class="btn btn-success right pull-right has-spinner" type="button"
            ng-class="{active: saving}"  ng-click="save()" ng-disabled="saving">
        <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
        <i class="icon-edit icon-white"></i> Save
    </button>
    <!--<button class="btn btn-danger right" type="button" ng-show="model.id && canDelete" ng-click="delete()"><i class="icon-remove icon-white"></i> Delete</button>-->
</div>

<div ng-show="debug">
    <h1>Crud Directive Debug</h1>
    <accordion>
        <accordion-group heading="Model Instance">
            <pre>{{model | json}}</pre>
        </accordion-group>
        <accordion-group heading="View Model Meta">
            <pre>{{viewModel.meta | json}}</pre>
        </accordion-group>
    </accordion>

</div>