<!--<div class="form-group {{(err)? 'has-error':''}}">-->
    <!--<span class="input-group-addon">$</span>-->
    <!--<label class="control-label">{{field.field_title}}: {{selectedItemDisplayStr}}</label>-->
    <!--<div class="input-group">-->
        <input
                type="text" class="form-control" placeholder="Lookup {{viewModel.tableName}}" tooltip-html-unsafe="{{err.rendered}}"
                ng-model="model"
                ng-focus=""
                typeahead="item[field.field_referencesKey] as api[field.field_references].getLookupValue(item) for item in api[field.field_references].lookup($viewValue) | filter:$viewValue | limitTo:8"
                typeahead-input-formatter="null"
                typeahead-on-select="selectItem($item)"
                typeahead-editable="false"
                />
        <!--<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>-->
    <!--</div>-->
<!--</div>-->
<!--<span class="required-error" ng-show="field.field_required && !model[field.field_key]">* required</span>-->