<div class="row">
    <div class="col-md-12 form-group {{(err)? 'has-error':''}}">
        <label class="control-label" tooltip-html-unsafe="{{property.description}}">{{title || fieldName}}</label>
        <div class="input-group">
            <select
                    class="form-control"
                    tooltip-html-unsafe="{{err.message}}"
                    ng-model="model[fieldName]"
                    ng-options="option as option for option in property.enum"
                    ng-required="property.field.field_required"></select>
            <span class="required-error" ng-show="field.field_required && !model[fieldName]">* required</span>
        </div>
    </div>
</div>
