<div class="field row">
    <div class="span2">{{title || fieldName}}:</div>
    <div class="span4">
        <div ng-repeat="option in field.field_options" class="row-fluid">
            <label>
                <input type="radio" value="{{option.option_value}}" ng-model="model[fieldName]"  ng-required="field.field_required"/>
                &nbsp;<span ng-bind="option.option_title"></span>
            </label>
        </div>
        <span class="required-error" ng-show="field.field_required && !model[fieldName]">* required</span>
    </div>
</div>
<br>