<div class="jumbotron">
  <h1></h1>
  <p class="lead">
    <i class="fa fa-wrench fa-5x"></i><br/>
    Angular Crud Kit
  </p>
</div>

<div class="row marketing">
  <h4>JSON Schema</h4>
  <p>
      Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
  </p>

  <h4>RESTful API Service</h4>
  <p>
      Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
  </p>

  <h4>Scaffolding</h4>
  <p>Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
</div>
