<div class="text-center jumbotron">
    <br/>
    <i class="fa fa-wrench fa-2x"></i>&nbsp;
    <i class="fa fa-briefcase fa-2x"></i>&nbsp;
    <i class="fa fa-gears fa-2x"></i>
    <br/>
    <h1>Angular CRUD Kit</h1>
    <p class="lead">CRUD Kit helps you structure and manage your models, forms, fields, validations and api calls. All the boring stuff.</p>
</div>

<div class="row marketing">
    <h4>JSON Schema</h4>
    <p>
        Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>

    <h4>RESTful API Service</h4>
    <p>
        Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>

    <h4>Scaffolding</h4>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
</div>
